body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
}

#container {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #333;
}

h1 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 32px;
}

input[type="file"] {
    margin-bottom: 10px;
}

div {
    margin-bottom: 5px;
}

label {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.2s ease-in-out;
    color: #000;
}

label:hover {
    background-color: #9b59b6;
    color: #fff;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #9b59b6;
    color: #fff;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #9b59b6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #8e44ad;
}

#previewContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

img {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
