body {
  background-color: #121212;
  color: #fff;
  font-family: sans-serif;
}

.box {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 10px;  
}

button {
  background-color: #fff;
  color: #121212;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.previews {
  display: flex;  
  justify-content: center;
  flex-wrap: wrap;
}

.preview {
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin: 10px;
  position: relative;
}

.preview button {
  position: absolute;
  top: -10px;
  right: -10px; 
}
